body {
    font: 100% Verdana, Arial, Helvetica, sans-serif;
    margin: 0 0 0; /* it's good practice to zero the margin and padding of the body element to account for differing browser defaults */
    padding: 0;
    text-align: left; /* this centers the container in IE 5* browsers. The text is then set to the left aligned default in the #container selector */
    color: #000000;
    font-family:"Myriad Pro", Helvetica, "Trebuchet MS", Arial, sans-serif;
    valign: top;
}

td.messagegeneric
{
}

td.messageheading
{
    text-align: center;
    color: navy;
    background-color: #E0E0E0;
}

td.jobheading
{
    text-align: left;
    color: navy;
    background-color: #C0FFC0;
}

td.assetheading
{
    text-align: left;
    color: navy;
    background-color: #C0FFFF;
}

td.unitlogheading
{
    text-align: left;
    color: navy;
    background-color: #FFC0C0;
}

td.messagefromdevice
{
    text-align: left;
}
td.messagestatus
{

}
td.messagetodevice
{
    text-align: right;
    background-color: #C0FFC0;
}
div.messageunread
{
    color: red;
}
tr.line_even{
    background-color:silver
}
tr.line_odd{
    background-color:white
}


tr.title_line{
    background-color:#548ef0;
}
.bm_title {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-style: normal;
    line-height: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    color: black;
}
.bm_head {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    font-style: normal;
    line-height: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    color: black;
}
.bm_head_small {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10px;
    font-style: normal;
    line-height: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    color: #009933;
}
.bm_head_rev {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10px;
    font-style: normal;
    line-height: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    color: #FFFFFF;
}
.bm_banner2 {
    font-family: "Times New Roman", Times, serif;
    font-size: xx-large;
    font-style: normal;
    line-height: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    color: #009933;
}
.bm_data {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11px;
    font-style: normal;
    line-height: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    color: #000000;
}
.bm_databig {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    font-style: normal;
    line-height: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    color: #000000;
}
.bm_banner1 {

    font-family: "Times New Roman", Times, serif;
    font-size: large;
    font-style: normal;
    line-height: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    color: #009933;
}
.bm_red1 {

    font-family: "Times New Roman", Times, serif;
    font-size: large;
    font-style: normal;
    line-height: normal;
    font-weight: bold;
    font-variant: normal;
    text-transform: none;
    color: #CC0000;
}
