.udj_head {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-style: normal;
    line-height: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    color: #000000;
}
.udj_head_small {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    font-style: normal;
    line-height: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    color: #000000;
}
.udj_head_rev {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10px;
    font-style: normal;
    line-height: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    color: #FFFFFF;
}
.udj_banner2 {
    font-family: "Times New Roman", Times, serif;
    font-size: xx-large;
    font-style: normal;
    line-height: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    color: #009933;
}
.udj_data {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    font-style: normal;
    line-height: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    color: #000000;
}

.udj_datahead {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    font-style: normal;
    line-height: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    color: #000000;
}
.udj_databig {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
    font-style: normal;
    line-height: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    color: #000000;
}
.udj_datasmall {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10px;
    font-style: normal;
    line-height: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    color: #000000;
}
.udj_banner1 {

    font-family: "Times New Roman", Times, serif;
    font-size: large;
    font-style: normal;
    line-height: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    color: #009933;
}
a:visited {color:#0000FF; text-decoration:none}
a:hover {color:#0000FF;}
a:link { color:#0000FF; text-decoration:none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-weight: bold;
}
a:active {
    color:#0000FF;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    font-weight: bold;
}


.udj_red1 {

    font-family: "Times New Roman", Times, serif;
    font-size: large;
    font-style: normal;
    line-height: normal;
    font-weight: bold;
    font-variant: normal;
    text-transform: none;
    color: #CC0000;
}
.udj_heading_row
{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    font-style: normal;
    line-height: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    background-color:#C0FFFF ;
    color: #000000;
}
.udjj_tiny{
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    font-weight: normal;
    text-align: left;
}
.udjj_tiny2{
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10px;
    font-weight: normal;
    text-align: left;
}
.udj_tiny2{
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10px;
    font-weight: normal;
    text-align: left;
}
