.udset {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-style: normal;
	font-weight: normal;
}
.heading {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #0033CC;
}
.headingtiny {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 9px;
}
.data {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-style: normal;
	color: #0099CC;
}
.breadcrumbs {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 8px;
	font-style: normal;
	color: #CC0099;
}
.headingproof {

	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #666666;
}
.headingalert {

    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    color: #fe8341;
}
