

.rowodd {
	background-color: #99FF33;
}
.roweven {
	background-color: #FFFFFF;
}
.bdynav {
	background-color: #99FFCC;
}

.rowodd:hover,
.roweven:hover,
.hover {
	background-color: #CCFF66;
	    color: red;
}
