<!-- start_jcl_here
* text job control file
*
*  DUMPTABLELISTTOSQLLOG|END
*  rundata|SELECT * from sales_order as run_so where so_order_no = 544854|END
* eg1 MULTILEVEL_1|NONE|NONE|NONE|NONE|SELECT *  FROM sales_order as L1_so where (so_order_status = "30") AND so_whse_code = "3"  |MLL1_NUMROWS|rec_L1_so_so_order_packages|NOne|None|rec_L1_so_so_CUST_CODE|END
*     MULTILEVEL_2|NONE|NONE|NONE|NONE|SELECT *  FROM sales_order_delivery as L2_sod where (L2_SOd.so_order_no = "#p%!_REC_L1_so_so_order_no_!%#p")  |MLL2_NUMROWS|NONE|NOne|None|NONE|END
*     MULTILEVEL_3|NONE|NONE|owl_bdymain.htm|mll3post_loop|SELECT *  FROM sales_order_line as L3_sol where (L3_SOl.so_order_no = "#p%!_REC_L1_so_so_order_no_!%#p")  |MLL3_NUMROWS|NONE|NOne|None|NONE|END

* MULTILEVEL_1|owl_bdymain.htm|mll1pre_loop|owl_bdymain.htm|mll1post_loop|SELECT *  FROM sales_order as L1_so where (so_order_status = "30") AND so_whse_code = "3"  |MLL1_NUMROWS|rec_L1_so_so_order_packages|NOne|None|rec_L1_so_so_CUST_CODE|END
* MULTILEVEL_2|owl_bdymain.htm|mll2pre_loop|owl_bdymain.htm|mll2post_loop|SELECT *  FROM sales_order_delivery as L2_sod where (L2_SOd.so_order_no = "#p%!_REC_L1_so_so_order_no_!%#p")  |MLL2_NUMROWS|NONE|NOne|None|NONE|END
* MULTILEVEL_3|owl_bdymain.htm|mll3pre_loop|owl_bdymain.htm|mll3post_loop|SELECT *  FROM sales_order_line as L3_sol where (L3_SOl.so_order_no = "#p%!_REC_L1_so_so_order_no_!%#p")  |MLL3_NUMROWS|NONE|NOne|None|NONE|END

* DO_MULTILEVEL|end
* dataloop|owl_bdymain.htm|detail_loop|SELECT * FROM sales_order  as S_O where (so_order_status <> "90" and so_order_status <> "99" and so_order_status <> "91"and so_order_status <> "75") AND so_whse_code = "3" order by so_order_no desc LIMIT 0 , 50 |END


urlvalue|v1|url_mypid|mypid|end
urlvalue|v1|url_mode|mode|end
urlvalue|v1|url_partnername|partnername|end
app_class|v1|mypid_decrypted|clapp_b100_cryption("DECRYPT",#p%!_url_mypid_!%#p)|NO|end
app_class|v1|mypid_heading|clapp_s100_userheading_html(#p%!_mypid_decrypted_!%#p,dbasecnx)|NO|end
app_class|v1|sys_app_function_list|list of functions|NO|end
app_class|v1|sys_app_function_help|help for functions|NO|end
app_class|v1|myb_screen_topleft_image|clapp_s200_advert_url("MYB_SCREEN_TOPLEFT","IMAGE")|NO|end
app_class|v1|myb_screen_topleft_url|clapp_s200_advert_url("MYB_SCREEN_TOPLEFT","URL")|NO|end
app_class|v1|MYB_SCREEN_TOPRIGHT_image|clapp_s200_advert_url("MYB_SCREEN_TOPRIGHT","IMAGE")|NO|end
app_class|v1|MYB_SCREEN_TOPRIGHT_url|clapp_s200_advert_url("MYB_SCREEN_TOPRIGHT","URL")|NO|end
app_class|v1|MYB_SCREEN_MIDBOTTOM_image|clapp_s200_advert_url("MYB_SCREEN_MIDBOTTOM","IMAGE")|NO|end
app_class|v1|MYB_SCREEN_MIDBOTTOM_url|clapp_s200_advert_url("MYB_SCREEN_MIDBOTTOM","URL")|NO|end
app_class|v1|new_buddy_help|clapp_s110_help_html(my_buddy Add New Buddy,<a href=#"http://#p%!_server_HTTP_HOST_!%#p/als_web_prog/#p%!_SESSION_SUPER_ko_live_or_dev_!%#p/ut_menu.php?fnid=201&map=my_buddy_main.htm&p=1^mypid=#p%!_url_mypid_!%#p^mode=NEWREC#"><strong>Add a New Buddy</strong></a>,#p%!_mypid_decrypted_!%#p)|NO|end

sys_classif|v1|url_MODE|=|WELCOME|NULL|clmain_v940_initialise_error_sessionvs(#p%!_SESSION_SUPER_validate_error_html_!%#p,NO,sysset)|NO|END
sys_classif|v1|url_MODE|=|NEWREC|NULL|clmain_v940_initialise_error_sessionvs(#p%!_SESSION_SUPER_validate_error_html_!%#p,NO,sysset)|NO|END
sys_class|v1|field_style|clmain_v800_set_field_style(field_style,my_buddy_main.htm,#p%!_SESSION_SUPER_validate_error_list_!%#p,NO,sysset)|NO|END
sys_class|v1|error_html|clmain_v920_error_row(#p%!_SESSION_SUPER_validate_error_html_!%#p,NO,sysset)|NO|END
sys_class|v1|field_startat|clmain_v930_field_startat(#p%!SESSION_SUPER_validate_error_startatfield!%#p,partnername,NO,sysset)|NO|END

*  rundataif|v1|url_MODE|=|MAINTREC|SELECT * from partners as PMAINT where mypalletid = '#p%!_mypid_decrypted_!%#p'  AND partnername = '#p%!_url_partnername_!%#p'|END
rundataIF|v1|url_MODE|=|MAINTREC|SELECT * from partners as PMAINT where mypalletid = '#p%!_mypid_decrypted_!%#p'  AND partnername = '#p%!_url_partnername_!%#p'|END
rundataIF|v1|url_MODE|=|MAINTINACT|SELECT * from partners as PMAINT where mypalletid = '#p%!_mypid_decrypted_!%#p'  AND partnername = '#p%!_url_partnername_!%#p'|END
* gw20100324 - not used yet   app_class|v1|buddy_history|clapp_s300_summary_history(#p%!_mypid_decrypted_!%#p,#p%!_REC_PMAINT_partnerid_!%#p,"no",p_dbcnx)|yes|end

*  add_detailsif|v1|url_MODE|=|NEWREC|field_startat|partnername|NO|END
add_detailsif|v1|url_MODE|=|NEWREC|partnername#ppartneremailaddress#par1_partner_uniquekey|Enter the name#pValid email address#pSetbyAdd_record_on_submit|NO|END

add_detailsif|v1|url_MODE|=|MAINTREC|partnername#ppartneremailaddress#par1_partner_uniquekey|%!_REC_PMAINT_partnername_!%#p%!_REC_PMAINT_partneremailaddress_!%#p%!_REC_PMAINT_partner_uniquekey|NO|END
add_detailsif|v1|url_MODE|=|MAINTINACT|partnername#ppartneremailaddress#par1_partner_uniquekey|%!_REC_PMAINT_partnername_!%#p%!_REC_PMAINT_partneremailaddress_!%#p%!_REC_PMAINT_partner_uniquekey|NO|END

add_detailsif|v1|url_MODE|=|NEWVALIDERR|partnername#ppartneremailaddress#par1_partner_uniquekey|%!_SESSERR_partnername_!%#p%!_SESSERR_partneremailaddress_!%#p%!_SESSERR_partner_uniquekey_!%|NO|END
add_detailsif|v1|url_MODE|=|MAINTVALIDERR|partnername#ppartneremailaddress#par1_partner_uniquekey|%!_SESSERR_partnername_!%#p%!_SESSERR_partneremailaddress_!%#p%!_SESSERR_partner_uniquekey_!%|NO|END

sys_class|v1|NULL|clmain_v940_initialise_error_sessionvs(#p%!_SESSION_SUPER_validate_error_html_!%#p,NO,sysset)|NO|END

Draw|my_buddy_main.htm|page_top|END
Draw|my_buddy_main.htm|left_pane|END

Draw|my_buddy_main.htm|centerheader|END
DrawIF|v1|url_MODE|=|WELCOME|my_buddy_main.htm|welcome_map|END
Drawif|v1|url_MODE|=|PREQVALIDERR|my_buddy_main.htm|already_partner|END
Drawif|v1|url_MODE|=|NEWREC|my_buddy_main.htm|maintscreen|END
Drawif|v1|url_MODE|=|MAINTREC|my_buddy_main.htm|maintscreen|END
Drawif|v1|url_MODE|=|NEWVALIDERR|my_buddy_main.htm|maintscreen|END
Drawif|v1|url_MODE|=|MAINTVALIDERR|my_buddy_main.htm|maintscreen|END
Drawif|v1|url_MODE|=|MAINTINACT|my_buddy_main.htm|maintscreen|END


Drawif|v1|url_MODE|=|NEWRECOK|my_buddy_main.htm|newrecok|END
Drawif|v1|url_MODE|=|UPDOK|my_buddy_main.htm|updok|END
Drawif|v1|url_MODE|=|INACTIVEOK|my_buddy_main.htm|INACTIVEOK|END
Drawif|v1|url_MODE|=|ACTIVEOK|my_buddy_main.htm|ACTIVEOK|END

Drawif|v1|url_MODE|=|ADDNEMAIL|my_buddy_main.htm|addnemail|END
Drawif|v1|url_MODE|=|NEWREC|my_buddy_main.htm|addbuttons|END
Drawif|v1|url_MODE|=|NEWVALIDERR|my_buddy_main.htm|addbuttons|END
Drawif|v1|url_MODE|=|MAINTREC|my_buddy_main.htm|maintbuttons|END
Drawif|v1|url_MODE|=|MAINTVALIDERR|my_buddy_main.htm|maintbuttons|END
Drawif|v1|url_MODE|=|MAINTINACT|my_buddy_main.htm|inactivebuttons|END

Drawif|v1|url_MODE|=|NEWREC|my_buddy_main.htm|maintscreen2|END
Drawif|v1|url_MODE|=|MAINTREC|my_buddy_main.htm|maintscreen2|END
Drawif|v1|url_MODE|=|NEWVALIDERR|my_buddy_main.htm|maintscreen2|END
Drawif|v1|url_MODE|=|MAINTVALIDERR|my_buddy_main.htm|maintscreen2|END
Drawif|v1|url_MODE|=|MAINTINACT|my_buddy_main.htm|maintscreen2|END

Draw|my_buddy_main.htm|centerbody|END
*gw 20100324  Drawif|v1|url_MODE|=|MAINTREC|my_buddy_main.htm|centerhistory|END
*gw 20100324  Drawif|v1|url_MODE|=|MAINTINACT|my_buddy_main.htm|centerhistory|END

Draw|my_buddy_main.htm|centerfooter|END
Draw|my_buddy_main.htm|right_pane_top|END
Draw|my_buddy_main.htm|PARTNERheading_loop|END
dataloop|my_buddy_main.htm|partner_loop|SELECT * from partners as P1 where mypalletid = '#p%!_mypid_decrypted_!%#p' AND partnermypalletid <> "" and (partnerid not like "%INACTIVE%") order by partnername asc |END
Draw|my_buddy_main.htm|BUDDYheading_loop|END
dataloop|my_buddy_main.htm|buddy_loop|SELECT * from partners as P1 where mypalletid = '#p%!_mypid_decrypted_!%#p'  AND partnermypalletid = "" and  (partnerid NOT like "%INACTIVE%")  order by partnername asc|END
Draw|my_buddy_main.htm|INACTIVEheading_loop|END
dataloop|my_buddy_main.htm|INACTIVE_loop|SELECT * from partners as P1 where mypalletid = '#p%!_mypid_decrypted_!%#p'  AND partnermypalletid = "" and  (partnerid like "%INACTIVE%")  order by partnername asc|END

Draw|my_buddy_main.htm|right_pane_bot|END

add_details|S_LEFT_PROMPT#pS_LEFT_URL#pS_RIGHT_PROMPT#pS_RIGHT_URL|To MyPalletBook#pmyb_mainpage.php?mypid=#pTo MyPalletBook#pmyb_mainpage.php?mypid=|END
Draw|maps/my_map_pagefooter.html|global_eop|END
Draw|my_buddy_main.htm|page_footer|END

 end_jcl_here -->

<!-- start_action_add_buddy_here
validate|ADD|my_buddy_main.htm|http://#p%!_server_HTTP_HOST_!%#p/als_web_prog/#p%!_SESSION_SUPER_ko_live_or_dev_!%#p/ut_menu.php?fnid=201&map=my_buddy_main.htm&p=1^mypid=#p%!_postV_mypalletid_!%#p^mode=NEWVALIDERR|NO|end
add_record|v1|partners|partner_uniquekey|ar_add_partneruk|no|mypalletid = '#p%!_POSTV_mypid_!%#p',partneremailaddress = '#p%!_POSTV_partneremailaddress_!%#p', partnername = '#p%!_POSTV_partnername_!%#p', partnermypalletid = "",creatednt = '#p%!_OSYSVAL_YMDHMS_!%#p',createdip = '#p%!_OSYSVAL_USERIP_!%#p'|end
do_url|http://#p%!_server_HTTP_HOST_!%#p/als_web_prog/#p%!_SESSION_SUPER_ko_live_or_dev_!%#p/ut_menu.php?fnid=201&map=my_buddy_main.htm&p=1^mypid=#p%!_postV_mypalletid_!%#p^mode=NEWRECOK|end
  end_action_add_buddy_here -->

<!-- start_action_add_partner_here
validate|ADD|my_buddy_main.htm|http://#p%!_server_HTTP_HOST_!%#p/als_web_prog/#p%!_SESSION_SUPER_ko_live_or_dev_!%#p/ut_menu.php?fnid=201&map=my_buddy_main.htm&p=1^mypid=#p%!_postV_mypalletid_!%#p^mode=NEWVALIDERR|NO|end
add_record|v1|partners|partner_uniquekey|ar_add_partneruk|no|mypalletid = '#p%!_POSTV_mypid_!%#p',partneremailaddress = '#p%!_POSTV_partneremailaddress_!%#p', partnername = '#p%!_POSTV_partnername_!%#p', partnermypalletid = "",creatednt = '#p%!_OSYSVAL_YMDHMS_!%#p',createdip = '#p%!_OSYSVAL_USERIP_!%#p'|end
rundata|SELECT * from usermaster as PIDDETS where mypalletid = '#p%!_POSTV_mypid_!%#p'|END
sys_email|v1|sys_email_message|%!_POSTV_partneremailaddress_!%|Invitation to become a MyPalletBook partner #p%!_POSTV_partnername_!%#p|my_buddy_main.htm|email_body|http://#p%!_server_HTTP_HOST_!%#p/als_web_prog/#p%!_SESSION_SUPER_ko_live_or_dev_!%#p/ut_menu.php?fnid=201&map=my_buddy_main.htm&p=1^mypid=#p%!_postV_mypalletid_!%#p^mode=EMAILERR|NO|END
do_url|http://#p%!_server_HTTP_HOST_!%#p/als_web_prog/#p%!_SESSION_SUPER_ko_live_or_dev_!%#p/ut_menu.php?fnid=201&map=my_buddy_main.htm&p=1^mypid=#p%!_postV_mypalletid_!%#p^mode=ADDNEMAIL|end
  end_action_add_buddy_here -->

<!-- start_action_partner_request_here
validate|UPDATE|my_buddy_main.htm|http://#p%!_server_HTTP_HOST_!%#p/als_web_prog/#p%!_SESSION_SUPER_ko_live_or_dev_!%#p/ut_menu.php?fnid=201&map=my_buddy_main.htm&p=1^mypid=#p%!_postV_mypalletid_!%#p^mode=PREQVALIDERR|NO|end
rundata|SELECT * from usermaster as PIDDETS where mypalletid = '#p%!_POSTV_mypid_!%#p'|END
sys_email|v1|sys_email_message|%!_POSTV_partneremailaddress_!%|Invitation to become a MyPalletBook partner #p%!_POSTV_partnername_!%#p|my_buddy_main.htm|email_body|http://#p%!_server_HTTP_HOST_!%#p/als_web_prog/#p%!_SESSION_SUPER_ko_live_or_dev_!%#p/ut_menu.php?fnid=201&map=my_buddy_main.htm&p=1^mypid=#p%!_postV_mypalletid_!%#p^mode=EMAILERR|NO|END
do_url|http://#p%!_server_HTTP_HOST_!%#p/als_web_prog/#p%!_SESSION_SUPER_ko_live_or_dev_!%#p/ut_menu.php?fnid=201&map=my_buddy_main.htm&p=1^mypid=#p%!_postV_mypalletid_!%#p^mode=ADDNEMAIL|end
  end_action_partner_request_here -->

<!-- start_action_update_buddy_here
update_record|v1|partners|partner_uniquekey|#p%!_postv_partner_UNIQUEKEY_!%#p|no|partneremailaddress = '#p%!_POSTV_partneremailaddress_!%#p', partnername = '#p%!_POSTV_partnername_!%#p'|end
do_url|http://#p%!_server_HTTP_HOST_!%#p/als_web_prog/#p%!_SESSION_SUPER_ko_live_or_dev_!%#p/ut_menu.php?fnid=201&map=my_buddy_main.htm&p=1^mypid=#p%!_postV_mypalletid_!%#p^mode=UPDOK|end
  end_action_update_buddy_here -->

  <!-- start_action_make_inactive_here
update_record|v1|partners|partner_uniquekey|#p%!_postv_partner_UNIQUEKEY_!%#p|no|partnerid = 'UK_INACTIVE' |end
do_url|http://#p%!_server_HTTP_HOST_!%#p/als_web_prog/#p%!_SESSION_SUPER_ko_live_or_dev_!%#p/ut_menu.php?fnid=201&map=my_buddy_main.htm&p=1^mypid=#p%!_postV_mypalletid_!%#p^mode=INACTIVEOK|end
  end_action_make_inactive_here -->

  <!-- start_action_make_active_here
update_record|v1|partners|partner_uniquekey|#p%!_postv_partner_UNIQUEKEY_!%#p|no|partnerid = '-' |end
do_url|http://#p%!_server_HTTP_HOST_!%#p/als_web_prog/#p%!_SESSION_SUPER_ko_live_or_dev_!%#p/ut_menu.php?fnid=201&map=my_buddy_main.htm&p=1^mypid=#p%!_postV_mypalletid_!%#p^mode=ACTIVEOK|end
  end_action_make_active_here -->

<!-- START_VALIDATE_HERE
*version|event|field|validation type|values|error message|
V1|All|partnername | value | not_spaces | *** Name cannot be blank <br>
V1|All|partnername | value_NOT | enter the name | *** A valid name must be entered, the default is not allowed <br>
V1|All|partneremailaddress | value | not_spaces | *** Email Address cannot be blank <br>
V1|All|partneremailaddress | value | has_at_sign | *** Email address must be a valid format <br>
V1|ADD|partnername | SQL_NOREC |select * from partners where  mypalletid = '#p%!_postv_mypid_!%#p' AND partnername = '#p%!_POSTV_partnername_!%#P' |  Name #p%!_POSTV_partnername_!%#P already exists but be must be unique - please entere a different name <br>
V1|UPDATE|partnername | SQL_NOREC |SELECT * from partners where mypalletid = '#p%!_postv_mypid_!%#p' AND partnername = '#p%!_POSTV_partnername_!%#P' and partnermypalletid <> ""| Name #p%!_POSTV_partnername_!%#P is already an active partner <br>


END_VALIDATE_HERE -->

<!--  start_email_body_here --
WELCOME to MyPalletBook.
Simply the easiest way to keep track of your pallet movments.

MYPALLETBOOK is a free site that allows you to enter all pallet related activity.

You have been invited by |%!_REC_PIDDETS_myusername_!%| of |%!_REC_PIDDETS_mycompany_!%| to become a pallet partner allowing you to automatically and immediately share pallet entries with them.

Share the information,
Half the problem
and who wouldnt like thier pallet problem cut in half?

skip_line                   <tr><td>&nbsp;|%!_sys_app_function_list_!%|</td></tr>
skip_line                      <tr><td>&nbsp;|%!_sys_app_function_help_!%|</td></tr>
skip_line                      <tr><td>&nbsp;|%!_all_DETAILS_DEF_!%|</td></tr>
skip_line                       <tr><td>&nbsp;|%!_all_DETAILS_DATA_!%|</td></tr>


Click <a href=http://|%!_session_super_ko_ut_home_url_!%|myp_confirmation.php?yourpartnerid=|%!_postV_mypalletid_!%|&partnerid=|%!_ar_add_partneruk_!%|>here</a> to view details

  end_email_body_here -->




 <!-- start_map_here -->
<!--  MAPDEBUGnotYES -->
<!-- start_page_top_here -->
<!--
history
gjw 20100308 - created from my_buddy.php
        var popurl="|%!start_SESSION_SUPER_ko_ut_home_url_!end%|my_help.php?p="+id+"&mypalletid="+$ps_mypalletid;
-->

<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">

<html>
<head>
  <meta name="generator" content= "HTML Tidy for Windows (vers 14 February 2006), see www.w3.org">
  <title>mybuddy</title>
<script type="text/javascript">
var winHelp=null;
var id=null;
winHelp_Wid = 500;
winHelp_Hgt = 400;
function getHelp(id,$ps_mypalletid) {
    if(id!=null) {
        var popurl="my_help.php?p="+id+"&mypalletid="+$ps_mypalletid;
    } else {
        winHelp_Wid = 600;
        winHelp_Hgt = 500;
        var popurl="my_help.php";
    }
    winHelp_Left = (screen) ? screen.width/2 - winHelp_Wid/2 : 100;
    winHelp_Top =  (screen) ? screen.availHeight/2 - winHelp_Hgt/2 : 100;
    winHelp=window.open(popurl,'helpWindow','width='+winHelp_Wid+',height='+winHelp_Hgt+',left='+winHelp_Left+',top='+winHelp_Top+',scrollbars,status=0,resizable,location=0');
    winHelp.focus();
}

</script>
  <meta http-equiv="Content-Type" content=
  "text/html; charset=utf-8">
  <style type="text/css">
a {display: block}
  a:link, a:visited {text-decoration: none; color: green}
  a:hover {text-decoration: underline}
  </style>
  <link href="|%!start_SESSION_SUPER_ko_ut_home_url_!end%|pm_styles.css" rel="stylesheet" type="text/css">

  <style type="text/css">|%!_field_style_!%|</style>
  </head>
<body topmargin="0" leftmargin="0" rightmargin="0" onload="document.thisform.|%!_field_startat_!%|.focus()">

<form name="thisform" action="ut_action.php?p=1^mypid=|%!_mypid_decrypted_!%|&map=my_buddy_main.htm" method="post">

<!-- first table = whole screen ie width=100%,height = 100%,  next table is centered in first table with grey sides other tables inside the 2nd table -->

    <table width="100%" height="100%" cellpadding="0" cellspacing="0" bordercolor="#FFFFFF" bgcolor="#ACACAC">
      <tr id=fullpage>
        <td>
          <div align="center">
            <table width="800" height="100%" cellpadding="0" cellspacing="0" bgcolor="#FFFFFF">
              <tr id="banner">
                <td height="70">
                  <table width="100%">
                    <tr>
                      <td width="688" class="pmbanner2">
                      MyBuddy
skip_line                                            |%!_url_mypid_!%|   |%!_mypid_decrypted_!%|  |%!_url_partnername_!%|-|%!_url_mode_!%|- </td>
                      <td>
                        <table width="88">
                        |%!_mypid_heading_!%|
                          <tr id="oldmanageme">
                            <td>
                              <table width="200">
                                <tr>
                                  <td width="95">&nbsp;</td>
                                </tr>
                              </table>
                            </td>
                          </tr>
                        </table>
                      </td>
                    </tr>
                  </table><!---*************************-->
                </td>
              </tr>

              <tr id="breaker">
                <td height="4" bgcolor="#FFCC00">
                  <div align="left">
                    <font size="1" face=
                    "Arial, Helvetica, sans-serif">My pallet book
                    is the easiest way to keep track of your pallet
                    movements</font>
                  </div>
                </td>
              </tr>
            |%!start_error_html_!end%|
              <tr id="body">
                <td>
                  <table width="100%" height="400">
                    <tr>
<!-- end_page_top_here -->
<!-- start_left_pane_here -->
                      <td width="200" valign="top" id=leftpane>
                        <table>
                            <tr ><td width='199' height='100'><img src='|%!start_SESSION_SUPER_ko_ut_home_url_!end%||%!_myb_screen_topleft_image_!%|' BORDER='0' width='199' height='100' USEMAP='#addtopleft'></td></tr>
                        <tr><td>
                        <table width="100%" height="300">
                            <tr><td>&nbsp;</td></tr>

skip_line                            <tr><td>&nbsp;|%!_sys_app_function_list_!%|</td></tr>
skip_line                            <tr><td>&nbsp;|%!_sys_app_function_help_!%|</td></tr>
skip_line                            <tr><td>&nbsp;|%!_all_DETAILS_DEF_!%|</td></tr>
skip_line                            <tr><td>&nbsp;|%!_all_DETAILS_DATA_!%|</td></tr>
                        </table>
                        </TD></TR>
                        <tr ><td width='199' height='100'><img src='|%!start_SESSION_SUPER_ko_ut_home_url_!end%||%!_myb_screen_midbottom_image_!%|' BORDER='0' width='199' height='100' USEMAP='#addmidbottom'></td></tr>
                       </table>
                      </td>

                      <td width="10"><img src="|%!start_SESSION_SUPER_ko_ut_home_url_!end%|images/border_img.bmp" border="0" width="1"
                      height="100%" alt=""></td>
<!-- end_left_pane_here -->

<!-- start_centerheader_here -->
                      <td width="360">
                        <table height="100%">
                          <tr>
                            <td valign="top" class="pm_head">
<!-- end_centerheader_here -->

<!--start_welcome_map_here-->
<table width="300"  border="0" bgcolor="#FFFFFF">
  <tr>
    <td class="pm_head">Welcome to the MyBuddy screen. </td>
  </tr>
  <tr>
    <td class="pm_head">This is where you record the details of each party that deals with pallets</td>
  </tr>
  <tr>
    <td  class="pm_head">Use the Add New Buddy to record the details of a new buddy or select one from the list to change their details.</td>
  </tr>
</table>
<!--end_welcome_map_here-->
<!--start_already_partner_here-->
<table width="300"  border="0" bgcolor="#FFFFFF">
  <tr>
    <td class="pm_head">The buddy is already a partner </td>
  </tr>
</table>
<!--end_already_partner_here-->

<!--start_maintscreen_here-->
<table width="300"  border="0" bgcolor="#FFFFFF" cellpadding="0" cellspacing="0">
    <tr><td  class="pm_head" colspan="2">Buddy Details<hr size='1' noshade color="#009933"></td></tr>
    <tr>
        <td colspan="2" class="pm_head">Created:|%!_osysval_YMDHMS_!%| on ip |%!_osysval_userip_!%| </td>
    </tr>
  <tr>
    <td class="pm_head">Buddy Name</td>
    <td><input name="partnername" type="text" value="|%!start_partnername_!end%|" class="fst_partnername"></td>
  </tr>
  <tr>
    <td class="pm_head">Email Address </td>
    <td><input name="partneremailaddress" type="text" value="|%!start_partneremailaddress_!end%|"  class="fst_partneremailaddress"></td>
  </tr>
<!--end_maintscreen_here-->
<!--start_addbuttons_here-->
  <tr><td class="pm_head"><input type="submit" name="ACTION" value="Add Buddy"></td>
    <td class="pm_head"><input type="submit" name="ACTION" value="Add Partner"></td>
  </tr>
<!--end_addbuttons_here-->
<!--start_maintbuttons_here-->
  <tr>
    <td class="pm_head">partnerid </td>
    <td>|%!_REC_PMAINT_partnerid_!end%|</td>
  </tr>
  <tr>
    <td class="pm_head"><input type="submit" name="ACTION" value="Update Buddy"></td>
    <td class="pm_head"><input type="submit" name="ACTION" value="Make Inactive"><input type="submit" name="ACTION" value="Partner request"></td>
  </tr>
<!--end_maintbuttons_here-->
<!--start_inactivebuttons_here-->
  <tr>
    <td class="pm_head">partnerid </td>
    <td>|%!_REC_PMAINT_partnerid_!end%|</td>
  </tr>
  <tr>
    <td class="pm_head"><input type="submit" name="ACTION" value="Make Active"></td>
  </tr>
<!--end_inactivebuttons_here-->
<!--start_maintscreen2_here-->
  <tr><td>
    <input name="partnermypalletid" type="hidden" value="|%!_REC_PMAINT_partnermypalletid_!%|">
    <input name="partnerid" type="hidden" value="|%!_REC_PMAINT_partnerid_!%|">
    <input name="partner_uniquekey" type="hidden" value="|%!_ar1_partner_uniquekey_!%|">
    <input name="mypalletid" type="hidden" value="|%!_url_mypid_!%|">
    <input name="creatednt" type="hidden" value="|%!_osysval_YMDHMS_!%|">
    <input name="createdip" type="hidden" value="|%!_SERVER_CLIENTIPADDR_!%|">
    <input name="mypid" type="hidden" value="|%!_mypid_decrypted_!%|">
  </td></tr>
</table>
<!--end_maintscreen2_here-->
<!-- start_newrecok_here -->
     Welcome to your new buddy.  You can start recording your pallet movements.
     </td></tr>
skip_line                           <tr><td>&nbsp;|%!_sys_app_function_list_!%|</td></tr>
skip_line                           <tr><td>&nbsp;|%!_sys_app_function_help_!%|</td></tr>
skip_line                            <tr><td>&nbsp;|%!_all_DETAILS_DEF_!%|</td></tr>
skip_line                            <tr><td>&nbsp;|%!_all_DETAILS_DATA_!%|</td></tr>
                            <tr><td>
<!-- end_newrecok_here -->
<!-- start_addnemail_here -->
     An inviation to become a partner has been sent.  The buddy will become a partner when they accept the invitation.
     </td></tr>
     <tr><td>
<!-- end_addnemail_here -->
<!-- start_inactiveok_here -->
     The buddy has been marked inactive.  You will no longer be able to see their details.
     </td></tr>
     <tr><td>
<!-- end_inactiveok_here -->
<!-- start_activeok_here -->
     The buddy has been marked active.  You can now start recording pallet movements.
     </td></tr>
     <tr><td>
<!-- end_activeok_here -->
<!-- start_updok_here -->
     The record has been updated successfully.
     </td></tr>
     <tr><td>
<!-- end_updok_here -->
<!--
                      <?php
                      if ($get_partnerid=='VIEWALL')
                      {
                        $ps_partner_status='ACTIVE';
                        echo lf_viewall_partners($s_use_mypalletid,$dbcnx,$ps_partner_status,$get_mypalletid_encrypted);
                      ?>
-->
                            </td>
                          </tr>
<tr><td>
<!--
                      <?php
                      }
                      elseif($s_send_multiple_partner_requests=='Y')
                      {
                        $create_partner_array = $_POST['create_partner'];
                        //echo 'create_partner_array='.'<br>';
                        //print_r($create_partner_array);
                        $s_mypalletid=$_POST['mypalletid'];
                        $i_array_count=0;
                        $s_partners_requested='';
                        $s_mypalletid_encrypted = '';
                        while ($create_partner_array[$i_array_count]<>'')
                        {
                            $s_partnerid = $create_partner_array[$i_array_count];
                            //echo 's_partnerid='.$s_partnerid.'<br>';
                            //echo 's_mypalletid='.$s_mypalletid.'<br>';

                            $partner_details=$objbuddy->f_clbuddy_get_partner_details($s_partnerid,$s_mypalletid,$dbcnx);
                            $partner_details_array=explode('|',$partner_details);
                            $s_partnername=$partner_details_array[3];
                            $s_partners_requested=$s_partners_requested.' '.$s_partnername;
                            $s_partneremailaddress=$partner_details_array[7];
                            //echo 's_partneremailaddress='.$s_partneremailaddress.'<br>';

                            $s_mypalletid_encrypted = $objlib1->f_myplib1_cryption("ENCRYPT",$s_mypalletid);

                            $s_subject_filename='maps/create_partnership_subject.map';
                            $s_email_subject_def='START|yourpartnerid|partnerid|END';
                            $s_email_subject_data='START|'.$s_mypalletid_encrypted.'|'.$s_partnerid.'|END';
                            $s_body_filename='maps/create_partnership_body.map';
                            $s_email_body_def='START|yourpartnerid|partnerid|END';
                            $s_email_body_data='START|'.$s_mypalletid_encrypted.'|'.$s_partnerid.'|END';
                            clemail::f_clemail_create_email($s_partneremailaddress,$s_subject_filename,$s_email_subject_def,$s_email_subject_data,$s_body_filename,$s_email_body_def,$s_email_body_data);

                            $i_array_count++;
                        }
                        $s_message='Successfully sent request/s to: '.$s_partners_requested.' to become a partner';
                        echo '<br>';
                        echo $s_message;
                        $get_mypalletid_encrypted = $objlib1->f_myplib1_cryption("ENCRYPT",$s_mypalletid);
                      }
                      else
                      {
                      ?>
-->
<!-- start_centerbody_here -->
<!--                           "echo lf_set_partner_details($s_use_mypalletid,$get_partnerid,$post_partner_uniquekey,$dbcnx);"
                            "echo $s_message;"-->
                            </td>
                          </tr>
<!-- end_centerbody_here -->
<!-- start_centerhistory_here -->
                          <tr>
                            <td valign="top" class="pm_head">
                              Buddy History
                              <hr size='1' noshade color="#009933">
                              <table width="100%" border="0">
                                <tr><td>
                            |%!_buddy_history_!%|
                                </td></tr>
                            </table>
<!-- end_centerhistory_here -->
<!-- start_centerfooter_here -->
                            </td>
                          </tr>
                          <tr><td height="100%">&nbsp;</td></tr>
                        </table>
                      </td>

                      <td width="10"><img src="|%!start_SESSION_SUPER_ko_ut_home_url_!end%|images/border_img.bmp" border="0" width="1"
                      height="100%" alt=""></td>
<!-- end_centerfooter_here -->
<!-- start_right_pane_top_here -->
                      <td width="200" valign="top" id=rightpane>
                        <table>
                          <tr ><td width='199' height='100'><img src='|%!start_SESSION_SUPER_ko_ut_home_url_!end%||%!_myb_screen_topright_image_!%|' BORDER='0' width='199' height='100' USEMAP='#addtopright'></td></tr>
                          <tr><td valign="top" class="pm_head">Buddy Summary<hr size='1' noshade color="#009933"></td></tr>
                          <tr><td valign="top" class="pm_head" height="10">|%!_new_buddy_help_!%|</td></tr>
<!-- gw20100324 removed cause I didnt want to get it to work in the ut_jcl process                          <tr><td valign="top" class="pm_head"><a href="|%!start_SESSION_SUPER_ko_ut_home_url_!end%|my_buddy.php?mypartnerid=VIEWALL&mypid='|%!_url_mypid_!%|'"><strong>List All</strong></a></td></tr> -->
                          <tr><td>
                              <hr size='1' noshade color="#009933">
                              </td>
                          </tr>

                          <tr>
                            <td valign="top" height="300">
                              <table width="100%" border="0">
<!-- end_right_pane_top_here -->

<!-- start_PARTNERheading_loop_here -->
    <tr><td width='80%' class='pm_head'><strong> Partners</strong></td></tr>
<!-- end_PARTNERheading_loop_here -->
<!-- start_partner_loop_here -->
    <tr><td width='80%' class='pm_data'>
    <a href="http://|%!_server_HTTP_HOST_!%|/als_web_prog/|%!_SESSION_SUPER_ko_live_or_dev_!%|/ut_menu.php?fnid=201&map=my_buddy_main.htm&p=1^mypid=|%!_url_mypid_!%|^mode=MAINTREC^partnername=|%!_REC_p1_partnername_!%|">|%!_REC_p1_partnername_!%|</a>
</td></tr>
<!-- end_partner_loop_here -->
<!-- start_BUDDYheading_loop_here -->
    <tr><td width='80%' class='pm_head'><strong> Buddies </strong></td></tr>
<!-- end_BUDDYheading_loop_here -->
<!-- start_BUDDY_loop_here -->
    <tr><td width='80%' class='pm_data'>
    <a href="http://|%!_server_HTTP_HOST_!%|/als_web_prog/|%!_SESSION_SUPER_ko_live_or_dev_!%|/ut_menu.php?fnid=201&map=my_buddy_main.htm&p=1^mypid=|%!_url_mypid_!%|^mode=MAINTREC^partnername=|%!_REC_p1_partnername_!%|">|%!_REC_p1_partnername_!%|</a>
</td></tr>
<!-- end_buddy_loop_here -->
<!-- start_INACTIVEheading_loop_here -->
    <tr><td width='80%' class='pm_head'><strong> Inactive </strong></td></tr>
<!-- end_INACTIVEheading_loop_here -->
<!-- start_inactive_loop_here -->
    <tr><td width='80%' class='pm_data'>
    <a href="http://|%!_server_HTTP_HOST_!%|/als_web_prog/|%!_SESSION_SUPER_ko_live_or_dev_!%|/ut_menu.php?fnid=201&map=my_buddy_main.htm&p=1^mypid=|%!_url_mypid_!%|^mode=MAINTINACT^partnername=|%!_REC_p1_partnername_!%|">|%!_REC_p1_partnername_!%|</a>
</td></tr>
<!-- END_inactive_loop_here -->

<!-- start_right_pane_bot_here -->
                              </table>
                            </td>
                          </tr>
                        </table>
                      </td>
<!-- end_right_pane_bot_here -->
<!-- start_page_footer_here -->
                    </tr>
                  </table>
                </td>
              </tr>
              <tr id="footer">
                <td>
</td>
</tr>
<tr id=filler><td height="100%"  bgcolor="#ACACAC">&nbsp;</td></tr>
    </table>
          </div>
        </td>
      </tr>
    </table>

<!--  page bits and pieces
<!-- end page bits and pieces -->


<MAP NAME='addtopright'>
<AREA SHAPE=RECT COORDS='0,0,200,100' HREF='|%!_myb_screen_topright_url_!%|' target=_blank >
</MAP>
<MAP NAME='addtopleft'>
<AREA SHAPE=RECT COORDS='0,0,200,100' HREF='|%!_myb_screen_topleft_url_!%|'  target=_blank >
</MAP>
<MAP NAME='addmidbottom'>
<AREA SHAPE=RECT COORDS='0,0,350,100' HREF='|%!_myb_screen_midbottom_url_!%|"'  target=_blank >
</MAP>
</form>
</body>
</html>
<!-- end_page_footer_here -->

