@charset "UTF-8";
/* CSS Document */

body {
	font: 100% Verdana, Arial, Helvetica, sans-serif;
	background: #666666;
	margin: 0; /* it's good practice to zero the margin and padding of the body element to account for differing browser defaults */
	padding: 0;
	text-align: center; /* this centers the container in IE 5* browsers. The text is then set to the left aligned default in the #container selector */
	color: #000000;
	font-family:"Myriad Pro", Helvetica, "Trebuchet MS", Arial, sans-serif;
}

#manageme {
	font: 100% Verdana, Arial, Helvetica, sans-serif;
	background: white;
	text-align: left;
	margin: 15px;
	color: #000000;
	font-family:"Myriad Pro", Helvetica, "Trebuchet MS", Arial, sans-serif;
}

.oneColFixCtrHdr #container {
	width: 780px;  /* using 20px less than a full 800px width allows for browser chrome and avoids a horizontal scroll bar */
	background: #FFFFFF;
	margin: 0 auto; /* the auto margins (in conjunction with a width) center the page */
	border: 1px solid #000000;
	text-align: left; /* this overrides the text-align: center on the body element. */
}
.oneColFixCtrHdr #header {
	background: #DDDDDD; 
	padding: 0 10px 0 20px;  /* this padding matches the left alignment of the elements in the divs that appear beneath it. If an image is used in the #header instead of text, you may want to remove the padding. */
}
.oneColFixCtrHdr #header h1 {
	margin: 0; /* zeroing the margin of the last element in the #header div will avoid margin collapse - an unexplainable space between divs. If the div has a border around it, this is not necessary as that also avoids the margin collapse */
	padding: 10px 0; /* using padding instead of margin will allow you to keep the element away from the edges of the div */
}
.oneColFixCtrHdr #mainContent {
	padding: 0 20px; /* remember that padding is the space inside the div box and margin is the space outside the div box */
	background: #FFFFFF;
}
.oneColFixCtrHdr #footer {
	padding: 0 10px; /* this padding matches the left alignment of the elements in the divs that appear above it. */
	background:#DDDDDD;
}
.oneColFixCtrHdr #footer p {
	margin: 0; /* zeroing the margins of the first element in the footer will avoid the possibility of margin collapse - a space between divs */
	padding: 10px 0; /* padding on this element will create space, just as the the margin would have, without the margin collapse issue */
}

.valign_middle {
  vertical-align: middle;
}

table.deliverytable
{
	width: 100%;
}

tr.deliveryrow
{
}

td.tableheading
{
	text-align: left;
	font-weight: bold;
	font-size: 1.1em;
	padding-left: 10px;
	padding-right: 20px;
	padding-bottom: 10px;

}

td.deliverycnno
{
	vertical-align: top;
	text-align: right;
	font-size: 1.2em;
	font-weight: bold;
	padding-left: 10px;
	padding-right: 20px;
}

td.deliverylocation
{
	text-align: left;

}

td.deliveryaction
{
	vertical-align: top;
	padding-left: 10px;
	padding-right: 10px;
}

td.deliverygeneric
{
}

td.deliveryall
{
	padding-bottom: 10px;
	vertical-align: top;
	padding-left: 10px;
	padding-right: 10px;
}


td.deliverydeliverto
{
	font-size: 0.9em;
}

td.deliveryproof
{
}

td.deliverystatus
{
	vertical-align: top;
	width: 6em;
}

td.recievedbyname
{
}

td.note
{
	width: 10em;
	font-size: 0.9em;
	/*font-family: "Courier New", Courier, monospace;*/
}

span.recievedbyname
{
	font-size: 1.3em;
	/* ref: http://www.codestyle.org/css/font-family/sampler-Cursive.shtml, http://www.codestyle.org/css/font-family/Glossary.shtml#cursive */
	font-family:"Monotype Corsiva", "Apple Chancery", "Brush Script MT", "Comic Sans MS", "Brush Script MT", cursive;
}

span.udaccode
{
	color: navy;
	font-size: 1.2em;
	font-weight: bolder;
	font-family: "Lucida Console", "Monaco", "Courier New", monospace; 
}

span.pendingapproval
{
	color: orange;
	font-size: 1.0em;
	font-weight: bolder;
}

span.newdevices
{
	color: orange;
	font-size: 1.2em;
	font-weight: bolder;
}

.deliverydetailimage {
	width: 57px;
	height: 57px;
	border: 0;
}

div.deliverydetail {
	clear: both;
}

div.deliverydetaildivider
{
	margin-top: 2px;
	clear: both;
	width: 100%;
}