a:visited {color:#FFFF00; text-decoration:none}
a:hover {color:white;}
a:link { color:#FFFF00; text-decoration:none;}
a:active {
	color:#FFFFFF;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	font-weight: bold;
}
